        <div class="container push-footer-home">
            <div class="row section">
                <div class="col s6 home-cards">
                  <div class="card hoverable">
                    <div class="card-image">
                      <img src="./images/chris-montgomery-smgTvepind4-unsplash.jpg">
                      <span class="card-title">Host</span>
                    </div>
                    <div class="card-action">
                      <p class = "center-align">
                        <a href="http://localhost:3000/room" class = "waves-effect waves-light btn-large"><i class ="material-icons right">create</i>Create a Room</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col s6 home-cards">
                  <div class="card hoverable">
                    <div class="card-image">
                      <img src="./images/scott-graham-5fNmWej4tAA-unsplash.jpg">
                      <span class="card-title">Join</span>
                    </div>
                    <div class="card-action input-field">
                      <form class="form joinForm">
                        <div class="form-group text-dark row justify-content-center">
                      <input class="form-input" id="roomId" type="text" autocomplete="off" placeholder="Enter Room ID" />
                    </div>
                    </form>
                    </div>
                  </div>
                </div>
              </div>                        
        </div>
    <script src ="/js/home.js"></script>