<div class="col s6 home-cards">
  <div class="card hoverable">
    <div >
      <div class="input-field col s12">
        <input id="email loginEmail" type="email" class="validate" />
        <label for="email">Email</label>
      </div>
    </div>
    <div>
      <div class="input-field col s12">
        <input id="password loginPassword" type="password" class="validate" />
        <label for="password">Password</label>
      </div>
    </div>
    <div class="card-action">
      <a href="#" class="waves-effect waves-light btn-large"><i
          class="material-icons right"
        >create</i>Login</a>
    </div>
  </div>
</div>