      <div class="container login-div">
        <div class="row justify-content-center pt-3">
          <div class="col-md-6 shadow-lg p-3 mt-5 rounded">
            <div class="row justify-content-center">
              <div class="col-md-4">
                <!-- Login form -->
                <h2 class="light-blue-text">Login</h2>
                <form class="form login-form push-footer-login">
                  <div class="form-group text-dark row justify-content-center">
                    <input class="form-input validate" type="email" id="loginEmail" placeholder="Enter Email" />
                  </div>
                  <div class="form-group text-dark row justify-content-center">
                    <input class="form-input validate" type="password" id="loginPassword" placeholder="Enter Password" />
                  </div>
                  <!-- Log in -->
                  <div class="row justify-content-center mb-3">
                    <button class="waves-effect waves-light btn-large" type="submit"><i class = "material-icons right">chevron_right</i>Login</button>
                  </div>
                  <!-- Create Acc -->
                  <div class="row justify-content-center">
                    <a class="waves-effect waves-light btn-large push-footer-login" href="/signup"><i class = "material-icons right">create</i>Create Account</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="js/login.js"></script>