* {
  font-family: "Lato", sans-serif;
}

footer {
  /* margin-top: 7em; */
  height: 45px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer h5 {
  text-align: center;
  margin-top: -10px;
}
.home-cards {
  margin-top: 7em;
}

#video-grid {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fill, 325px);
    grid-auto-rows: 325px;
    margin-top: 2%;
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
    margin-bottom: 10px;
}

.uploadBtn {
  width: 100%;
}

.home-cards {
    margin-top: 7em;
}
/* Pushes footer to the bottom of the viewport for the login handlebar */
.push-footer-login {
  margin-bottom: 13rem;
}

.push-footer-signup {
  margin-bottom: 14.3rem;
}